doctype html
html
  head
    title GitGrid
    link(rel="stylesheet", href="style.css")
  body
    h1 GitGrid
    p Lorem ipsum...
    script(type="text/javascript", src="vendor/jquery/dist/jquery.js")
    script(type="text/javascript", src="app.js")
