meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
meta(name="mobile-web-app-capable", content="yes")
meta(name="apple-mobile-web-app-capable", content="yes")
meta(name="apple-mobile-web-app-status-bar-style", content="black")

each size in [57,72,76,114,120,144,152]
  link(rel="apple-touch-icon", href="/app/assets/webapp-icon/#{size}.png", sizes="#{size}x#{size}")
link(rel="shortcout icon", href="/app/assets/webapp-icon/196.png", sizes="196x196")
