.fade {
  @speed: 0.65s;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  opacity: 1;

  &.ng-enter,
  &.ng-leave {
    -webkit-transition: all @speed ease;
    -moz-transition: all @speed ease;
    -o-transition: all @speed ease;
    transition: all @speed ease;
  }

  &.ng-enter {
    opacity: 0;
  }

  &.ng-enter-active {
    opacity: 1;
  }

  &.ng-leave {
    opacity: 1;
  }

  &.ng-leave-active {
    opacity: 0;
  }
}
