doctype html
html(ng-app="app")
  head
    title GitGrid
    link(rel="stylesheet", href="/styles/main.css")
    script(type="text/javascript", src="/vendor/jquery/dist/jquery.js")
    script(type="text/javascript", src="/vendor/angular/angular.js")
    script(type="text/javascript", src="/vendor/angular-route/angular-route.js")
    script(type="text/javascript", src="/scripts/app.js")
  body
    div.container-fluid
      h1 GitGrid
      ul
        li: a(href="/") Home
        li(ng-show="!user"): a(href="/login") Login
        li(ng-show="!!user"): a(href="/logout") Logout
        li: a(href="/about") About
    div.container-fluid(ng-view)

