doctype html
html
  head
    title GitGrid
    link(rel="stylesheet", href="/styles/main.css")
  body
    include views/home.jade
    script(type="text/javascript", src="/vendor/jquery/dist/jquery.js")
    script(type="text/javascript", src="/scripts/app.js")
