div.btn-group.btn-group.pull-right
  a.btn.btn-default(ng-href="/{{ownerName}}/{{projectName}}/tree/master") Files
h4 {{projectName}}
h6 {{ownerName}}

ul.list-group(infinite-scroll="loadCommits()", infinite-scroll-disabled="loadingCommits || hasAllCommits", infinite-scroll-distance="2")
  li.list-group-item(ng-repeat="commit in commits")
    ui-gravatar(email="commit.author.email", width="32", height="32")
    | <code>{{commit.id | limitTo: 7}}</code>
    | <strong>{{commit.shortMessage}}</strong>
    | {{commit.author.name}}
    | <date>{{commit.author.when | date:'yyyy-MM-dd HH:mm:ss'}}</date>
