h4
  ui-gravatar(email="user.email", width="64")
  | {{user.userName}}

ul.list-group
  li.list-group-item(ui-click-link="/{{project.ownerName}}/{{project.name}}", ng-repeat="project in projects")
    span.glyphicon.glyphicon-book(style="margin-right: 5px;")
    span {{project.ownerName}}/{{project.name}}

pre {{user | json}}
