doctype html
html(ng-app="app")
  head
    title GitGrid
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    include partials/webapp.jade
    link(rel="stylesheet", href="/app/styles.css")
    script(type="text/javascript", src="/app/vendor.js")
    script(type="text/javascript", src="/app/app.js")
    script(type="text/javascript", src="/app/templates.js")
  body
    include partials/flashmessages.jade
    include partials/navigation.jade
    div.container-fluid
      ng-view
    div#version %%version%%
