h1 Create project
form(ng-submit="create()")
  pre(ng-show="!!message") {{ message | json }}
  input-text(label="Name", value="name")
  input-textarea(label="Description", value="description", rows="5")
  input-checkbox(label="Public?" value="isPublic")
  input.btn.btn-primary(type="submit", value="Create")
