h1 Create project
form(ng-submit="create()")
  pre(ng-show="!!message") {{ message | json }}
  ui-textbox(label="Name", value="name")
  ui-textarea(label="Description", value="description", rows="5")
  ui-checkbox(label="Public?" value="isPublic")
  input.btn.btn-primary(type="submit", value="Create")
