h1 Create project
form(ng-submit="create()")
  pre(ng-show="!!message") {{ message | json }}
  ui-textbox(label="Name", ng-model="name")
  ui-textarea(label="Description", rows="5", ng-model="description")
  ui-checkbox(label="Public?" ng-model="isPublic")
  input.btn.btn-primary(type="submit", value="Create")
