h1 Login
form(ng-submit="login()")
  pre(ng-show="!!message") {{ message | json }}
  input(type="text", ng-model="userName")
  input(type="password", ng-model="password")
  input.btn(type="submit", value="Login")
