h1 Register
form(ng-submit="register()")
  pre(ng-show="!!message") {{ message | json }}
  input-text(label="Username", value="userName")
  input-password(label="Password", value="password")
  input.btn.btn-primary(type="submit", value="Register")
