ol.breadcrumb
  li: a(ng-href="/{{ownerName}}/{{projectName}}/tree/{{ref}}") [root]
  li(ng-repeat="pathSegment in pathSegments2 | skipRight:1")
    a(ng-href="/{{ownerName}}/{{projectName}}/tree/{{ref}}/{{pathSegment.path}}") {{pathSegment.name}}
  li {{pathSegments2[pathSegments2.length - 1].name}}

hljs(source="blobRaw")
